{% extends 'admin/base/layout.html' %}
{% block body %}
<div>
    <!-- header -->
    {% include "admin/interceptors/interceptors_header.html" %}

    <!-- definition -->
    {% include "admin/interceptors/interceptors_definition.html" %}

    {% if interceptor_is_configurable %}
        <div class="dropdown-divider"></div>
        <h2>{{ interceptor.type.description }} configuration</h2>
        {% include "admin/interceptors/interceptors_definition_configuration.html" %}
    {% endif %}
</div>
{% endblock %}
{% block tail_js %}
{{ super() }}
{% include "admin/interceptors/interceptors.js.html" %}
{% endblock %}