{% if interceptor %}
<div class="mb-2">
    <button id="interceptors_definition_configuration_format" type="button" class="btn btn-primary" data-toggle="tooltip" title="Format JSON">
        Format
    </button>
    <button id="interceptors_definition_configuration_copy" type="button" class="btn btn-primary" data-toggle="tooltip" title="Copy to pasteboard">
        Copy
    </button>
    <button id="panel_example_parent" class="btn btn-primary" data-toggle="collapse" data-target="#panel_example">
        Example
    </button>
    <button id="interceptors_definition_configuration_save" type="button" class="btn btn-success" data-mock-id="{{ mock_id }}" data-response-id="{{ response_id }}" data-interceptor-id="{{ interceptor.id }}" data-toggle="tooltip" title="Save JSON">
        <i class="fa fa-save"></i>
    </button>
</div>

<div class="show" id="panel_example">
    <h5>Example</h5>
    <div class="pb-3">
        <pre id="interceptors_definition_configuration_example">
            {{ interceptor_configuration_example }}
        </pre>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <textarea id="interceptors_definition_configuration_input" class="form-control resize-none h-500px" wrap="off" autocomplete="off">{{ interceptor.configuration or '' }}</textarea>
    </div>
    <div class="col-6">
        <pre id="interceptors_definition_configuration_output" class="json-editor-blackbord h-500px border-5 border-danger"></pre>
    </div>
</div>
{% endif %}