{% if environment and environment.items %}
<div class="form-group form-inline">
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th style="width:48px">#</th>
            <th>Name</th>
            <th>Value</th>
            <th style="width:96px"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in environment.items %}
        <tr>
            <th class="align-middle">{{ loop.index }}</th>
            <td class="align-middle">{{ item.name }}</td>
            <td class="align-middle">{{ item.value }}</td>
            <td>
                <div class="d-flex">
                    <form method="get" action="{{ url_for('environment.environment', item_id=item.id) }}">
                        <button type="submit" class="btn btn-warning mr-1" data-toggle="tooltip" title="Edit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </form>
                    <form method="post" action="{{ url_for('environment.environment_remove', item_id=item.id) }}">
                        <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}