{% if mock %}
<div class="d-flex">
    {% if mock.is_enabled %}
    <form method="post" action="{{ url_for('mocks.mock_disable', mock_id=mock.id) }}">
        <button type="submit" class="btn btn-warning" data-toggle="tooltip" title="Stop">
            <i class="fa fa-pause"></i>
        </button>
    </form>
    {% else %}
    <form method="post" action="{{ url_for('mocks.mock_enable', mock_id=mock.id) }}">
        <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Start">
            <i class="fa fa-play"></i>
        </button>
    </form>
    {% endif %}
    <form method="post" action="{{ url_for('mocks.mock_export_mock', mock_id=mock.id) }}">
        <button type="submit" class="btn btn-info ml-1" data-toggle="tooltip" title="Export">
            <i class="fa fa-download"></i>
        </button>
    </form>
    <form method="get" action="{{ url_for('logs.logs', mock_id=mock.id) }}">
        <button type="submit" class="position-relative btn btn-primary ml-1" data-toggle="tooltip" title="Logs">
            <i class="fa fa-history"></i>
            {% if mock_logs_count %}
            <span class="position-absolute top-0 start-100 badge rounded-pill bg-secondary">{{ mock_logs_count }}</span>
            {% endif %}
        </button>
    </form>
</div>

<div class="form-group form-inline mt-2 d-flex">
    <form class="d-flex flex-grow-1" method="post" action="{{ url_for('mocks.mock_update', mock_id=mock.id) }}">
        <div class="d-flex flex-grow-1">
            <div class="input-group flex-grow-1">
                <input id="mocks_definition_form_name" name="mocks_definition_form_name"
                       class="form-control" placeholder="Name"
                       value="{{ mock.name or '' }}">
            </div>
            <div class="ml-2">
                <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Save name">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}