{% if response %}
<form method="post" action="{{ url_for('mocks.mock_response_update_delay_mode', mock_id=mock.id, response_id=response.id) }}">
    <div class="form-group form-inline">
        <div class="input-group">
            <label for="mocks_definition_response_form_delay_mode" class="mr-2">Delay mode</label>
            <select id="mocks_definition_response_form_delay_mode" name="mocks_definition_response_form_delay_mode"
                    class="custom-select btn btn-primary" onchange="this.form.submit()">
                {% for delay_mode in configuration.response_supported_delay_modes %}
                <option class="text-left" value="{{ delay_mode.value }}" {{
                        conditional_value(response.delay_mode== delay_mode,
                'selected') }}>
                {{ delay_mode.description }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>
{% if response.delay_mode.value == 'static' %}
<form method="post" action="{{ url_for('mocks.mock_response_update_delay_static', mock_id=mock.id, response_id=response.id) }}">
    <div class="form-group form-inline d-flex">
        <div class="input-group flex-grow-1">
            <input name="mocks_definition_response_form_input_delay_static" type="text" class="form-control" placeholder="0"
                   value="{{ response.delay or 0 }}">
        </div>
        <div class="ml-2">
            <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Save">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</form>
{% endif %}
{% if response.delay_mode.value == 'random' %}
<form method="post" action="{{ url_for('mocks.mock_response_update_delay_random', mock_id=mock.id, response_id=response.id) }}">
    <div class="form-group form-inline d-flex">
        <div class="input-group flex-grow-1">
            <label for="mocks_definition_response_form_input_delay_random_from" class="mr-2">From</label>
            <input id="mocks_definition_response_form_input_delay_random_from" name="mocks_definition_response_form_input_delay_random_from"
                   type="text" class="form-control" placeholder="0"
                   value="{{ response.delay_from or 0 }}">
        </div>
        <div class="input-group flex-grow-1 ml-4">
            <label for="mocks_definition_response_form_input_delay_random_to" class="mr-2">To</label>
            <input id="mocks_definition_response_form_input_delay_random_to" name="mocks_definition_response_form_input_delay_random_to"
                   type="text" class="form-control" placeholder="0"
                   value="{{ response.delay_to or 0 }}">
        </div>
        <div class="ml-2">
            <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Save">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</form>
{% endif %}
{% if response.delay_mode.value == 'predefined' %}
{% endif %}
{% endif %}