{% if response and response.response_headers %}
<div class="form-group form-inline">
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th style="width:48px">#</th>
            <th>Name</th>
            <th>Value</th>
            <th style="width:48px"></th>
        </tr>
        </thead>
        <tbody>
        {% for header in response.response_headers %}
        <tr>
            <th class="align-middle">{{ loop.index }}</th>
            <td class="align-middle">{{ header.name }}</td>
            <td class="align-middle">{{ header.value }}</td>
            <td>
                <form method="post" action="{{ url_for('mocks.mock_response_headers_remove', mock_id=mock.id, response_id=response.id,header_id=header.id) }}">
                    <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}