<script src="{{ url_for('static', filename='scripts/jquery.json-editor.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $("[data-toggle=tooltip").tooltip();

        $('#mocks_form_file_import_picker').click(function () {
            openFileDialog(importAccept, function (event) {
                if (this.files.length > 0) {
                    var formData = new FormData();
                    let extension = this.files[0].name.split('.').pop();
                    formData.append("mocks_form_file_import", this.files[0], `file.${extension}`);
                    $.ajax({
                        url: `/admin/mocks/import`,
                        type: `post`,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            window.location = response
                        }
                    });
                }
            });
        });

        $('.mocks_definition_request_rules_save').click(function() {
            let mock_id = $(this).data('mock-id')
            let rule_id = $(this).data('rule-id')
            console.log(`#request_rule_${mock_id}_${rule_id}_key`)
            let key = $(`#request_rule_${mock_id}_${rule_id}_key`).val()
            let value = $(`#request_rule_${mock_id}_${rule_id}_value`).val()
            let params = { "key": key, "value": value }
            $.post(`/admin/mocks/${mock_id}/request/rules/${rule_id}/update`, params, function(response) {
                window.location = response
            })
        });

        $('#mocks_definition_response_form_force').change(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            let endpoint = this.checked ? 'set' : 'unset'
            $.post(`/admin/mocks/${mock_id}/${response_id}/${endpoint}`, function (response) {
                window.location = response
            })
        });

        $('#mocks_definition_response_form_single_use').change(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            let endpoint = this.checked ? 'single_use' : 'not_single_use'
            $.post(`/admin/mocks/${mock_id}/${response_id}/${endpoint}`, function (response) {
                window.location = response
            })
        });

        $('#mocks_definition_response_form_name_force').change(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            let endpoint = this.checked ? 'set' : 'unset'
            $.post(`/admin/mocks/${mock_id}/${response_id}/${endpoint}`, function (response) {
                window.location = response
            })
        });

        // response options
        function setPanelParentStyle(object, style) {
            object.removeClass('btn-primary')
            object.removeClass('btn-success')
            object.addClass(style)
        }
        function updatePanelParentStyle(object) {
            let parent = $(`#${$(object).attr('id')}_parent`)
            if (parent.hasClass('collapsed')) {
                setPanelParentStyle(parent, 'btn-primary')
            } else {
                setPanelParentStyle(parent, 'btn-success')
            }
        }
        $('.response_option').each(function () {
            updatePanelParentStyle(this)
        })
        $('.response_option').on('shown.bs.collapse hidden.bs.collapse', function () {
            updatePanelParentStyle(this)
        })

        // response body json
        function normalizeJSON(value, space) {
            try {
                let json = JSON.parse(value);
                return JSON.stringify(json, null, space);
            } catch (ex) {
                return value;
            }
        }
        $('#mocks_definition_response_body_json_format').click(function () {
            let element = document.getElementById("mocks_definition_response_body_json_input");
            let value = normalizeJSON(element.value, 2);
            element.value = value;
        });
        $('#mocks_definition_response_body_json_copy').click(function () {
            let element = document.getElementById("mocks_definition_response_body_json_input");
            let value = normalizeJSON(element.value, 0);
            copyToClipboard(value);
        });
        $('#mocks_definition_response_body_json_save').click(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            let element = document.getElementById("mocks_definition_response_body_json_input");
            let value = normalizeJSON(element.value, 0);
            let data = { "body": value }
            $.post(`/admin/mocks/${mock_id}/${response_id}/update/body/json`, data, function (response) {
                window.location = response
            })
        });

        // response body json editor
        let response_body_json_input = $('#mocks_definition_response_body_json_input')
        let response_body_json_output = $('#mocks_definition_response_body_json_output')
        function getBodyJsonInput() {
            try {
                let value = response_body_json_input.val()
                if (value.length > 0) {
                    let json = JSON.parse(value);
                    response_body_json_output.removeClass('border')
                    return json
                } else {
                    response_body_json_output.removeClass('border')
                }
                return
            } catch (ex) {
                response_body_json_output.addClass('border')
                return `${ex}`
            }
        }
        let jsonEditorOptions = { "editable": false }
        let jsonEditor = new JsonEditor(`#${response_body_json_output.attr('id')}`, getBodyJsonInput(), jsonEditorOptions);
        response_body_json_input.on('change keyup paste', function () {
            jsonEditor.load(getBodyJsonInput());
        });

        // autoformat
        $('#mocks_definition_response_body_json_format').click()

        // response body file
        $('#mocks_definition_response_form_file_body_path_import_picker').click(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            openFileDialog(importMockAccept, function (event) {
                if (this.files.length > 0) {
                    var formData = new FormData();
                    let extension = this.files[0].name.split('.').pop();
                    formData.append("mocks_definition_response_form_file_body_path_import", this.files[0], `file.${extension}`);
                    $.ajax({
                        url: `/admin/mocks/${mock_id}/${response_id}/update/body/path/import`,
                        type: `post`,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            window.location = response
                        }
                    });
                }
            });
        });

        $('#mocks_definition_response_form_file_body_path_open').click(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            let body_path = $(mocks_definition_response_form_body_path).val()
            let data = { "mocks_definition_response_form_body_path": body_path }
            $.post(`/admin/mocks/${mock_id}/${response_id}/update/body/path/open`, data, function (response) { })
        });

        // response body script
        $('#mocks_definition_response_form_file_body_script_import_picker').click(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            openFileDialog(importPythonAccept, function (event) {
                if (this.files.length > 0) {
                    var formData = new FormData();
                    let extension = this.files[0].name.split('.').pop();
                    formData.append("mocks_definition_response_form_file_body_script_import", this.files[0], `file.${extension}`);
                    $.ajax({
                        url: `/admin/mocks/${mock_id}/${response_id}/update/body/script/import`,
                        type: `post`,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            window.location = response
                        }
                    });
                }
            });
        });

        $('#mocks_definition_response_form_file_body_script_open').click(function () {
            let mock_id = $(this).data('mock-id')
            let response_id = $(this).data('response-id')
            let body_script = $(mocks_definition_response_form_body_script).val()
            let data = { "mocks_definition_response_form_body_script": body_script }
            $.post(`/admin/mocks/${mock_id}/${response_id}/update/body/script/open`, data, function (response) { })
        });
    });
</script>