{% if mocks %}
<div class="form-group">
    {% for mock_item in mocks %}
    <div class="mb-1">
        <div class="d-flex">
            <div>
                {% set style_default = conditional_value(mock and mock_item.id == mock.id, 'bg-primary', 'bg-success') %}
                {% set style = conditional_value(mock_item.is_enabled, 'bg-success', 'bg-warning') %}
                <div style="width:4px;" class="h-100 {{ style }}"></div>
            </div>
            <form class="d-flex flex-grow-1 overflow-hidden" method="get"
                  action="{{ url_for('mocks.mock', mock_id=mock_item.id) }}">
                {% set style_default = conditional_value(mock and mock_item.id == mock.id, 'btn-primary', 'btn-light') %}
                {% set style_enabled = conditional_value(mock_item.is_enabled, style_default, 'btn-warning') %}
                {% set style = conditional_value(mock and mock and mock_item.id == mock.id, style_default, style_enabled) %}
                <button type="submit"
                        class="btn {{ style }} flex-grow-1 text-left text-truncate">
                    {{ mock_item.description }}
                </button>
            </form>
            {% if mock_item.id in configuration.mocks_conflict %}
            <button type="submit" class="btn btn-warning mr-1" data-toggle="tooltip" title="Conflict with other mock">
                <i class="fa fa-exclamation"></i>
            </button>
            {% endif %}
            <form method="post" action="{{ url_for('mocks.mock_remove', mock_id=mock_item.id) }}">
                <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-trash"></i>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}