{% if response %}
<div>
    <p>
        {% if response.type.is_mock %}
        <button id="panel_status_parent" class="btn btn-primary" data-toggle="collapse" data-target="#panel_status">
            Status
        </button>
        {% endif %}
        <button id="panel_headers_parent" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#panel_headers">
            Headers
        </button>
        {% if response.type.is_mock %}
        <button id="panel_body_parent" class="btn btn-primary" data-toggle="collapse" data-target="#panel_body">Body
        </button>
        {% endif %}
        <button id="panel_rules_parent" class="btn btn-primary collapsed" hidden data-toggle="collapse"
                data-target="#panel_rules">
            Rules
        </button>
        <button id="panel_interceptors_parent" class="btn btn-primary collapsed" hidden data-toggle="collapse"
                data-target="#panel_interceptors">
            Interceptors
        </button>
    </p>
    <div>
        {% if response.type.is_mock %}
        <div class="show response_option" id="panel_status">
            <h5>Status</h5>
            <div class="py-3">
                {% include "admin/mocks/mocks_definition_response_status.html" %}
            </div>
            <div class="dropdown-divider"></div>
        </div>
        {% endif %}
        <div class="collapse response_option" id="panel_headers">
            <h5>Headers</h5>
            <div class="py-3">
                {% include "admin/mocks/mocks_definition_response_headers.html" %}
                {% include "admin/mocks/mocks_definition_response_headers_new.html" %}
            </div>
            <div class="dropdown-divider"></div>
        </div>
        {% if response.type.is_mock %}
        <div class="show response_option" id="panel_body">
            <h5>JSON body</h5>
            <div class="py-3">
                {% include "admin/mocks/mocks_definition_response_body_json.html" %}
            </div>
            <div class="dropdown-divider"></div>
        </div>
        {% endif %}
        <div class="collapse response_option" id="panel_rules">
            <h5>Rules</h5>
            <div class="py-3">
                {% include "admin/mocks/mocks_definition_response_rules.html" %}
            </div>
            <div class="dropdown-divider"></div>
        </div>
        <div class="collapse response_option" id="panel_interceptors">
            <h5>Interceptors</h5>
            <div class="py-3">
                {% include "admin/mocks/mocks_definition_response_interceptors.html" %}
            </div>
            <div class="dropdown-divider"></div>
        </div>
    </div>
</div>
{% endif %}